<!doctype html>
<html lang="fr">
<head>
	<title>La TodoList, le retour</title>
	<meta http-equiv="Content-Type" content="text/html;utf-8" />
	<meta name="viewport" content="width=device-width"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="viewport" content="width=device-width, minimum-scale=0.25"/>
	<meta name="viewport" content="width=device-width, maximum-scale=5.0"/>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link rel="stylesheet" type="text/css" href="IndiaRose.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="menu.js"></script> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 

</head>
<body>
	<hader>
		<center><img src="icon_0.png"/></center>
	</hader>
	<br/>
	<br/>
	<div2 ng-app="myApp"> 
		<div2 ng-controller="param">
			<center>
				<input type="image" src="gestion.png" alt="Submit"  class="w3-btn w3-ripple w3-blue" width="20%" height="20%" ng-click="parametresf()">
				<input type="image" src="engrenage.png" alt="Submit"  class="w3-btn w3-ripple w3-green" width="20%" height="20%" ng-click="collectionf()">
			</center>
			<div2 ng-hide="!parametres">
				<center><h2><b>Param&egrave;tres de l'application</b></h2></center>
				<div ng-hide="data1">
					<center>Vous devez avoir un p&eacute;riph&eacute;rique avec l'application India Rose dessus pour pouvoir acceder &agrave; cette partie du site.
						<center>
						</div>
						<div2 ng-hide="!data1">
							<center>
								<p>choisissez votre p&eacute;riph&eacute;rique :</p>
								<div2 class="styled-select" >
									<select ng-model="device" ng-Change="version()">
										<option ng-repeat="x in dat" value="{{x.Name}}" >{{x.Name}}</option>
									</select>
								</div2>
							</center>
							<br/>
							<div2 ng-hide="device==null">
								<form class="w3-container" name="formulaire1">
									<label class="w3-label w3-text-blue">
										<b>Changer le nom du p&eacute;riph&eacute;rique</b>
									</label>
									<input name="nomD1" type="text" class="w3-input w3-border w3-round w3-hover-grey" ng-model="nomD" required>
									<button  ng-disabled="formulaire1.nomD1.$invalid" ng-click="changeNomD(nomD)" style="width:100%" class="w3-btn w3-ripple w3-green w3-btn w3-round-large">Changer</button>
									<br/>
									<br/>
								</form>
								<center>
									<p>choisissez la version :</p>
									<div2 class="styled-select">
										<select ng-model="device2" ng-change="afficherVersion()">
											<option ng-repeat="x in dat2" value="{{x.Version}}" >{{x.Version}}</option>
										</select>
									</div2>
									<div ng-hide="device2==null">
										<b>Date : </b>	{{deviceInfo.Date | date:'yyyy/MM/dd HH:mm:ss'}}
									</div>
								</center>
							</div2>
							<div2 ng-hide="device2==null">
								
								<div class="btn-group-vertical">
									<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="settings(); prorietef()">Propri&eacute;t&eacute;s couleur de fond</button>
									<div ng-hide="!propriete">

										<img type="image" src="transparent.png"  width="40%" height="76.6px" class="floatR" ng-style=" {'background-color':'#'+deviceSettings.TopBackgroundColor}"/>
										<img type="image"  src="bkgTablettes.png"  width="40%" class="floatR" ng-style=" {'background-color':'#'+deviceSettings.BottomBackgroundColor}" >


										Hauteur de la zone du haut (s&eacute;lection des indiagrams) :<br/>
										<center><b>{{deviceSettings.SelectionAreaHeight}}&nbsp;%</b></center>


										<!--<pre>myStyle={{myStyle}}</pre>-->
										<!--<span ng-style="myStyle">Sample Text</span>-->


										<!--<div2 ng-style="myStyle" width="20%" height="20%" >donc</div2>-->
								<!--<input type="button" value="set background" ng-click="myStyle={'background-color':'#'+deviceSettings.TopBackgroundColor}">
								<input type="button" value="set background" ng-click="myStyle={'color':'#'+deviceSettings.BottomBackgroundColor}">
								<input type="button" value="set background" ng-click="myStyle={'color':'#'+deviceSettings.TextColor}">-->
							</div>
							<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="indiagramef()">Propri&eacute;t&eacute;s des indiagrames</button>
							<div ng-hide="!indiagrame">
								<label class="w3-label w3-text-blue">
									<b>Taille des indiagrams : </b>
								</label>
								{{deviceSettings.IndiagramDisplaySize}}*{{deviceSettings.IndiagramDisplaySize}}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Police : </b>
								</label>
								{{policeName}}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Taille de la police : </b>
								</label>
								{{deviceSettings.FontSize}}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Couleur du texte : </b>
								</label>
								<img type="image"  src="transparent.png"  width="40px" height="20px" ng-style=" {'background-color':'#'+deviceSettings.TextColor}" >
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Revenir &agrave; l'acceuil apr&egrave;s la s&eacute;lection d'un indiagram : </b>
								</label>
								{{(deviceSettings.IsBackHomeAfterSelectionEnabled | toBoolean) ? 'oui' : 'non' }}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Possibilit&eacute; de s&eacute;lectionner plusieurs fois le m&ecirc;me indiagram : </b>
								</label>
								{{(deviceSettings.IsMultipleIndiagramSelectionEnabled | toBoolean) ? 'oui' : 'non' }}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Activer le renfor&ccedil;ateur de lecture : </b>
								</label>
								{{(deviceSettings.IsReinforcerEnabled | toBoolean) ? 'oui' : 'non' }}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Renfor&ccedil;ateur couleur : </b>
								</label>
								<center><img type="image"  src="reinforcer.png"   width="20%" height="20%" ng-style=" {'background-color':'#'+deviceSettings.ReinforcerColor}" ></center>
								<br/>
							</div>
							<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="optionf()">Options</button>
							<div ng-hide="!option">
								<label class="w3-label w3-text-blue">
									<b>Glisser-deposer : </b>
								</label>
								{{(deviceSettings.IsDragAndDropEnabled | toBoolean) ? 'oui' : 'non' }}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Lire le nom des categories : </b>
								</label>
								{{(deviceSettings.IsCategoryNameReadingEnabled | toBoolean) ? 'oui' : 'non' }}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Le temps de silence entre les mots : </b>
								</label>
								{{deviceSettings.TimeOfSilenceBetweenWords}} seconds
								<br/>
							</div>
							<div ng-hide="!reinitialiser">
								<center><h4><b>Voulez-vous r&eacute; r&eacute;initialiser les param&egrave;tres ? (votre collection sera conserv&eacute;e) ?</b></h4></center>
								<div class="btn-group">
									<button  ng-click="" style="width:49%" class="w3-btn w3-ripple w3-red w3-btn w3-round-large">Annuler</button>
									<button  ng-click="" style="width:49%" class="w3-btn w3-ripple w3-green w3-btn w3-round-large">Ok</button>
								</div>
							</div>
							<!--<form class="w3-container" name="formulaire2">
								<center>
									<p>revenir &agrave; la version : </p>
									<div2 class="styled-select">
										<select ng-model="device3" name="device3" required>
											<option ng-repeat="x in dat2" value="{{x.Version}}" >{{x.Version}}</option>
										</select>
									</div2>
									<b>Date : </b>	{{deviceInfo.Date | date:'yyyy/MM/dd HH:mm:ss'}}
								</center>
								<br/>
								<button  ng-disabled="formulaire2.device3.$invalid" ng-click="backVersion()" style="width:100%" class="w3-btn w3-ripple w3-green w3-btn w3-round-large">Valider</button>
							</form>-->
						</div>

					</div2>
				</div2>
			</div2> 
			<div2 ng-hide="!collection"><center><h2><b>Gestion de la collection</b></h2></center>



			</div2>
		</div2>
	</div2>
</body>
</html>